.portada{
    background-image: url("../media/top.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-color: black;
    height: 100vh;
    /* width: auto; */
}
.num{
    color: white;
}
.otro{
    background-color: brown;
}
a{
    color: white;
}
a:hover{
    color: white;
}
.posicionn{
    padding-top: 85vh;
}