<div class="cabecera"></div>
<div class="container">
  <div class="row">
    <div class="col text-center my-5 pt-4">
      <h1 class="p-3 bg-dark text-white">7-MONOS</h1>
    </div>
  </div>
  <div class="row">
    <div class="col mb-4">
      <h2>
        <p>
          Inspirado por militares, se enfoca en la utilidad. Es la combinación perfecta entre estilo y función; para
          aquellos rebeldes de la metrópoli, creando individualidad y originalidad en estilo urbano.
        </p>
      </h2>
    </div>
  </div>
</div>