<footer class="page-footer font-small bg-dark pt-4 mt-5">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="text-uppercase text-light">Datos de contacto</h5>
        <!-- <p class="text-light"> -->
        <ul class="text-light">
          <li class="text-light">
            <a href="https://www.facebook.com/Code-1910-1899264820183954/" target="_blank" class="text-light">
              <i class="fab fa-facebook-square h2"></i>
            </a>
          </li>
          <li class="text-light">
            <a href="https://www.instagram.com/code_19.10/" target="_blank" class="text-light">
              <i class="fab fa-instagram h2"></i>
            </a>
          </li>
          <li class="text-light">
            <a href="mailto:code19.10@outlook.com" class="text-light">
              code19.10@outlook.com
            </a>
          </li>
        </ul>
        <!-- </p> -->
      </div>
      <div class="col-md-6 mt-md-0 mt-3 text-light">
        <div class="pt-4">
          <b>Dirección:</b>
          <br>
          Frontera 154, Roma Nte., 06700 Ciudad de México, CDMX
        </div>
        <br>
        <b>Tel.</b>
        <br>
        +52 1 55 3466 7918
      </div>
    </div>
  </div>
  <div class="footer-copyright bg-secondary text-center py-3 text-light">©
    <a href="#" class="text-light"> Code1910</a>
  </div>
</footer>