<footer class="page-footer font-small bg-dark pt-4 mt-5">
  <div class="container-fluid text-md-left">
    <div class="row">
      <div class="col-12">
        <h5 class="text-light text-center">Datos de contacto</h5>
      </div>
      <div class="col-md-5 offset-md-1 mt-md-0 mt-3">
        <ul class="text-light">
          <li class="text-light">
            <a href="https://www.facebook.com/Code-1910-1899264820183954/" target="_blank" class="text-light">
              <i class="fab fa-facebook-square h2 align-middle mr-1"></i>
              Página de Facebook
            </a>
          </li>
          <li class="text-light">
            <a href="https://www.instagram.com/code_19.10/" target="_blank" class="text-light">
              <i class="fab fa-instagram h2 align-middle mr-1"></i>
              Cuenta de Instagram
            </a>
          </li>
          <li class="text-light">
            <a href="mailto:contacto@code1910.com.mx" class="text-light">
              <i class="far fa-envelope h2 align-middle mr-1"></i>
              code19.10@outlook.com
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-6 mt-md-0 mt-3 text-light text-center">
        <div class="row">
          <div class="col-6 col-md-12">
            <b>Dirección:</b>
            <br>
            Calle Versalles 113, Juárez, 06600 Juárez, CDMX.
          </div>
          <div class="col-6 col-md-12">
            <b>Tel.</b>
            <br>
            +52 1 55 3522 2507
            <br>
            +52 1 55 5057 1045
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright bg-secondary text-center py-3 text-light">©
    <a href="#" class="text-light"> Code1910</a>
  </div>
</footer>