<app-jumbotron></app-jumbotron>
<div class="container">
  <div class="row bg-light text-body">
    <div class="col text-center my-5">
      <h1 class="bg-dark py-4 text-white">Code1910</h1>
    </div>
  </div>
  <div class="row pt-4">
    <div class="col mb-4">
      <h3>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae dolore amet error adipisci accusantium esse
        eligendi nobis molestias, animi dolor aliquid tempora cum explicabo? Consectetur magni distinctio tempore porro
        at?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae dolore amet error adipisci accusantium esse
        eligendi nobis molestias, animi dolor aliquid tempora cum explicabo? Consectetur magni distinctio tempore porro
        at?
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col text-center my-5">
      <h1>Colectivo Code19:10</h1>
    </div>
  </div>
  <div class="row pt-4">
    <div class="col-sm-8 col-lg-6 bg-dark text-center py-5">
      <a href="/col1">
        <img src="../../coleccion1.png" alt="Coleccion1" width="400px;" class="img-fluid">
      </a>
    </div>
    <div class="col-sm-8 col-lg-6 bg-dark text-center py-5">
      <a href="/col2">
        <img src="../../coleccion2.jpg" alt="Coleccion1" width="400px;" class="img-fluid">
      </a>
    </div>
    <div class="col-sm-8 col-lg-6 bg-dark text-center py-5">
      <img src="../../barra1.png" alt="Coleccion1" width="400px;" class="img-fluid">
    </div>
    <div class="col-sm-8 col-lg-6 bg-dark text-center py-5">
      <img src="../../barra2.png" alt="Coleccion1" width="400px;" class="img-fluid">
    </div>
    <div class="col-sm-8 col-lg-6 bg-dark text-center py-5">
      <img src="../../barra2.png" alt="Coleccion1" width="400px;" class="img-fluid">
    </div>
    <div class="col-sm-8 col-lg-6 bg-dark text-center py-5">
      <img src="../../barra2.png" alt="Coleccion1" width="400px;" class="img-fluid">
    </div>
    <div class="col-sm-8 col-lg-6 bg-dark text-center py-5">
      <img src="../../barra2.png" alt="Coleccion1" width="400px;" class="img-fluid">
    </div>
    <div class="col-sm-8 col-lg-6 bg-dark text-center py-5">
      <img src="../../barra2.png" alt="Coleccion1" width="400px;" class="img-fluid">
    </div>
    <div class="col-sm-8 col-lg-6 bg-dark text-center py-5">
      <img src="../../barra2.png" alt="Coleccion1" width="400px;" class="img-fluid">
    </div>
    <div class="col-sm-8 col-lg-6 bg-dark text-center py-5">
      <img src="../../barra2.png" alt="Coleccion1" width="400px;" class="img-fluid">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">

    </div>
  </div>
  <div class="row">
    <div class="col text-center my-5">
      <h1>Ubicación</h1>
    </div>
  </div>
  <div class="row pt-5">
    <div class="col text-center mb-5">
      <iframe id="map"
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d940.7212335917051!2d-99.1554534!3d19.417377!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ff3b64fe1165%3A0xb765ea877eba80b4!2sUniversidad+de+Londres+Campus+Cuauht%C3%A9moc!5e0!3m2!1ses-419!2smx!4v1550049968738"
        frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>