<div class="container">
  <div class="row">
    <div class="col text-center my-5">
      <h1>Code1910</h1>
    </div>
  </div>
  <div class="row">
    <div class="col mb-4">
      <h3>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae dolore amet error adipisci accusantium esse
        eligendi nobis molestias, animi dolor aliquid tempora cum explicabo? Consectetur magni distinctio tempore porro
        at?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae dolore amet error adipisci accusantium esse
        eligendi nobis molestias, animi dolor aliquid tempora cum explicabo? Consectetur magni distinctio tempore porro
        at?
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col text-center my-5">
      <h1>Agenda</h1>
    </div>
  </div>
  <div class="row">
    <div class="col mb-4">
      <table class="table">
        <thead class="bg-cool">
          <tr>
            <th scope="col" colspan="3" class="text-center text-light">Agenda del evento Code1910</th>
          </tr>
        </thead>
        <tbody class="text-center">
          <tr>
            <th scope="row">10:00</th>
            <td colspan="2" class="text-center">Inicio de evento</td>
          </tr>
          <tr>
            <th scope="row">11:00</th>
            <td>Pasarela 1</td>
            <td>Nombre de la coleccion</td>
          </tr>
          <tr>
            <th scope="row">13:00</th>
            <td>Pasarela 3</td>
            <td>Nombre de la coleccion</td>
          </tr>
          <tr>
            <th scope="row">14:00</th>
            <td>Pasarela 4</td>
            <td>Nombre de la coleccion</td>
          </tr>
          <tr>
            <th scope="row">15:00</th>
            <td>Pasarela 5</td>
            <td>Nombre de la coleccion</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col text-center my-5">
      <h1>Team</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">

    </div>
  </div>
  <div class="row">
    <div class="col text-center my-5">
      <h1>Ubicación</h1>
    </div>
  </div>
  <div class="row">
    <div class="col text-center mb-5">
      <iframe id="map"
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d940.7212335917051!2d-99.1554534!3d19.417377!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ff3b64fe1165%3A0xb765ea877eba80b4!2sUniversidad+de+Londres+Campus+Cuauht%C3%A9moc!5e0!3m2!1ses-419!2smx!4v1550049968738"
        frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>