<app-jumbotron></app-jumbotron>
<div class="container" id="code1910">
  <div class="row bg-light text-body">
    <div class="col text-center my-5">
      <h1 class="bg-dark py-4 text-white">Code1910</h1>
    </div>
  </div>
  <div class="row pt-4">
    <div class="col mb-4">
      <h2>
        Colectivo de diseñadores emergentes mexicanos, con propuesta alternativa y contrastante.
        Cada diseñador con un sello único que lo diferencia de otros.
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col text-center my-5 bg-dark py-4 text-white">
      <h1>Colectivo Code19:10</h1>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-sm-8 col-lg-6 text-center py-5">
      <a href="/col10">
        <img src="../../assets/coleccion10.png" alt="Coleccion10" width="400px;" class="img-fluid">
      </a>
    </div>
    <div class="col-sm-8 col-lg-6 text-center py-5">
      <a href="/col9">
        <img src="../../assets/coleccion9.jpg" alt="Coleccion9" width="400px;" class="img-fluid">
      </a>
    </div>
    <div class="col-sm-8 col-lg-6 text-center py-5">
      <a href="/col8">
        <img src="../../assets/coleccion8.jpg" alt="Coleccion8" width="400px;" class="img-fluid">
      </a>
    </div>
    <div class="col-sm-8 col-lg-6 text-center py-5">
      <a href="/col7">
        <img src="../../assets/coleccion7.jpg" alt="Coleccion7" width="400px;" class="img-fluid">
      </a>
    </div>
    <div class="col-sm-8 col-lg-6 text-center py-5">
      <a href="/col2">
        <img src="../../assets/coleccion2.jpg" alt="Coleccion2" width="400px;" class="img-fluid">
      </a>
    </div>
    <div class="col-sm-8 col-lg-6 text-center py-5">
      <a href="/col6">
        <img src="../../assets/coleccion6.jpg" alt="Coleccion6" width="400px;" class="img-fluid">
      </a>
    </div>
    <div class="col-sm-8 col-lg-6 text-center py-5">
      <a href="/col5">
        <img src="../../assets/coleccion5.jpg" alt="Coleccion5" width="400px;" class="img-fluid">
      </a>
    </div>
    <div class="col-sm-8 col-lg-6 text-center py-5">
      <a href="/col1">
        <img src="../../assets/coleccion1.png" alt="Coleccion1" width="400px;" class="img-fluid">
      </a>
    </div>
    <div class="col-sm-8 col-lg-6 text-center py-5">
      <a href="/col4">
        <img src="../../assets/coleccion4.jpg" alt="Coleccion4" width="400px;" class="img-fluid">
      </a>
    </div>
    <div class="col-sm-8 col-lg-6 text-center py-5">
      <a href="/col3">
        <img src="../../assets/coleccion3.jpg" alt="Coleccion3" width="400px;" class="img-fluid">
      </a>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">

    </div>
  </div>
  <div class="row">
    <div class="col text-center my-5">
      <h1>Ubicación</h1>
    </div>
  </div>
  <div class="row pt-5">
    <div class="col text-center mb-5">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2302.870662935435!2d-99.15685823902953!3d19.425537102596067!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ff2e0318878d%3A0x4c1494e3585f4950!2sCalle+Versalles+113%2C+Ju%C3%A1rez%2C+06600+Ju%C3%A1rez%2C+CDMX!5e0!3m2!1ses-419!2smx!4v1553751686368"
        width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>