<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" (click)="noshow()" (click)="scrollTop()" [routerLink]="['/']" routerLinkActive="active">Code19:10</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" (click)="noshow()" href="#code1910">Quiénes Somos</a>
      </li>
      <!-- <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" (click)="noshow()" [routerLink]="['/mision']" >Mision</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" (click)="noshow()" [routerLink]="['/vision']" >Vision</a>
      </li> -->
      <!-- <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" (click)="noshow()" [routerLink]="['/valores']" >Valores</a>
      </li> -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Colecciones
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" (click)="noshow()" [routerLink]="['/col10']" routerLinkActive="active">JETEIMEN</a>
          <a class="dropdown-item" (click)="noshow()" [routerLink]="['/col9']" routerLinkActive="active">FLUORITA</a>
          <a class="dropdown-item" (click)="noshow()" [routerLink]="['/col8']" routerLinkActive="active">IBK</a>
          <a class="dropdown-item" (click)="noshow()" [routerLink]="['/col7']" routerLinkActive="active">DEALER</a>
          <a class="dropdown-item" (click)="noshow()" [routerLink]="['/col2']" routerLinkActive="active">MORY</a>
          <a class="dropdown-item" (click)="noshow()" [routerLink]="['/col6']" routerLinkActive="active">LEYU</a>
          <a class="dropdown-item" (click)="noshow()" [routerLink]="['/col5']" routerLinkActive="active">7-MONOS</a>
          <a class="dropdown-item" (click)="noshow()" [routerLink]="['/col1']" routerLinkActive="active">MIRI&ME</a>
          <a class="dropdown-item" (click)="noshow()" [routerLink]="['/col4']" routerLinkActive="active">GRETA</a>
          <a class="dropdown-item" (click)="noshow()" [routerLink]="['/col3']" routerLinkActive="active">Hazime</a>
        </div>
      </li>
    </ul>
  </div>
</nav>