<div class="container">
  <div class="row">
    <div class="col text-center my-5 pt-4">
      <h1 class="p-3 bg-info">Coleccion 8</h1>
    </div>
  </div>
  <div class="row">
    <div class="col mb-4">
      <h3>
        <p>

          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae dolore amet error adipisci accusantium esse
          eligendi nobis molestias, animi dolor aliquid tempora cum explicabo? Consectetur magni distinctio tempore
          porro
          at?
        </p>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae dolore amet error adipisci accusantium esse
          eligendi nobis molestias, animi dolor aliquid tempora cum explicabo? Consectetur magni distinctio tempore
          porro
          at?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium maxime sequi eum non, ea, repellendus
          corrupti totam sed doloremque adipisci iure. Ipsum impedit ut aperiam, sed pariatur voluptatibus excepturi
          sit?
        </p>
      </h3>
    </div>
  </div>
</div>