.entrada{
    height: 100vh;
    background-image: url("../../barra2.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-color: black;
}