<div class="cabecera"></div>
<div class="container">
  <div class="row">
    <div class="col text-center my-5 pt-4">
      <h1 class="p-3 bg-dark text-white">Hazime</h1>
    </div>
  </div>
  <div class="row">
    <div class="col mb-4">
      <h2>
        <p>
          Dedicada a hacer vestidos de noche para la mujer independiente que no teme mostrar sus sentimientos y que
          quiere dar a reflejar su feminidad a través de su forma de vestir, resaltando la belleza de nuestras clientas
          en eventos especiales.
        </p>
      </h2>
    </div>
  </div>
</div>